.cartEmpty{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    text-align: center;
  }
  
.greenButton {
    width: 100%;
    height: 2.5rem;
    background: #9dd558;
    border-radius: 1rem;
    border: 0;
    color: #ffffff;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
    position: relative;
  
    img {
      position: absolute;
      right: 2rem;
      top: 0.9rem;
      transform: transition 0.15s ease-in-out;
    }
  
    &:disabled{
      background-color: #bebebe;
    }
    &:hover {
      background: lighten($color: #9dd558, $amount: 5%);
  
      img {
        transform: translateX(0.5rem);
      }
    }
  
    &:active {
      background: darken($color: #9dd558, $amount: 5%);
    }
  
  }